body {
  padding: 70px 70px 70px 70px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Georgia", serif;
  color: #222222;
  background-image: url("../img/Background.png");
}

h1
{
	text-align: center;
	color:#321999;
}

.bordering
{
border: 10px solid #2d508f;
}

.count-input {
	width:10%;
	display: inline;
}
e
.add-to-basket-block {
	margin-top: 7px;
}


.modal-image {
	width: 100%;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}
.amount{
    display: inline;
}
.product{
    display: inline;
}
.remove-from-cart{
    display: inline;
}

.change-me {
color: red;
}

